@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Lato&family=Roboto+Mono:ital,wght@1,300&display=swap');

body {
  font-family: 'Roboto Mono', monospace;
  background-color: #f8f8f8;
}

.special-shadow {
  box-shadow: 3px 3px 5px #e3e5ea, -3px -3px 5px #fff;
}

.sub-shadow {
  box-shadow: 0px 1px 1px #e3e5ea, 0px -1px 1px #fff;
}

.mobile-menu__btn {
  padding: 15px 10px;
  background: white;
}

.mobile-menu__btn > span {
  background-color: black;
  width: 35px;
  height: 2px;
  display: block;
  margin-bottom: 9px;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.mobile-menu__btn > span:last-child {
  margin-bottom: 0;
}
