@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Lato&family=Roboto+Mono:ital,wght@1,300&display=swap');

body {
  font-family: 'Roboto Mono', monospace;
}

.btn:span {
  transition: transform 0.7s;
}

.btn > span:nth-child(1) {
  transition-delay: 70ms;
  transform: translateY(16px) rotate(135deg);
}

.btn > span:nth-child(2) {
  transition-delay: 0s;
  transform: translateX(-18px) scaleX(0);
}
.btn > span:nth-child(3) {
  transition-delay: 140ms;
  transform: translateY(8px) rotate(-135deg);
}
